.button {
    width: 40px;
    z-index: 100;
    color: gray;
}

.content-title {
    margin: 0;
}

.content {
    border-top: 1px solid gray;
    margin: 10px 0;
    padding: 10px 0;
    box-sizing: border-box;
}

.meta {
    margin: 0 10px;
}

