<div class="content" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="left center">
        <h2 class="content-title">{{content.title}}</h2>
        <button class="button" [disabled]="selectedindex==0" (click)="selectedindex=selectedindex-1" mat-icon-button>
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button class="button" [disabled]="selectedindex==content.content.length-1"
            (click)="selectedindex=selectedindex+1" mat-icon-button>
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
    <mat-tab-group class="header-less-tabs" mat-align-tabs="center" [(selectedIndex)]="selectedindex">
        <mat-tab *ngFor="let tab of content.content">
            <div class="tab">
                <div class="md" [innerHTML]="tab.md | marked:content.type | safeHtml">
                </div>
                <app-rating class="meta" [status]="tab.liked"></app-rating>
                <span class="meta">accessed: {{tab.accessed | date:'medium'}}</span>
                <span class="meta">authors: {{tab.authors}}</span>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>