h1 {
    margin: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.menubtn {
    margin: 6px;
}

.avatar {
    transform: scale(0.2);
    width: 250px;
    transform-origin: right center;
    margin-left: -190px;
}