<div class="container">
    <div>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
    </div>
    <div><h6>www.hansa.com/</h6></div>
    <div>
        <h6 style="display: flex">
            <span style="margin-right: 3px"><mat-icon>copyright</mat-icon></span>
            Hackmakers 2021
        </h6>
    </div>
    <div><h6>V 0.0.1</h6></div>
</div>