<h5 class="back-link" [routerLink]="['/u', 'dashboard']">Return to dashboard</h5>
<img src="/assets/images/vedic.dev_home_dashboard (1).png" class="demo">
<form *ngIf="formDataAvailable" [formGroup]="profileForm">
    <img [src]="profile_pic" class="profile_pic">
    <div class="form-item">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput maxlength="12" formControlName="first_name" name="firstName" required>
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </div>

    <div class="form-item">
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name" name="lastName" required>
        </mat-form-field>
    </div>

    <div class="form-item">
        <mat-form-field appearance="outline" style="width:300px !important">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" name="email" required>
        </mat-form-field>
    </div>

    <div class="form-item">
        <button class="saveButton" mat-raised-button color="primary" (click)="save()"
                [disabled]="profileForm.invalid || profileForm.pristine">
            Save Changes
        </button>
    </div>

    <div class="form-item">
        <button class="logoutButton" (click)="signOut()" mat-stroked-button color="warn">Log Out</button>
    </div>
</form>
